// Color Variables

// UI Colors
$primaryDarkest: #28262c;
$primaryDarker: #039081;
$primaryColor: #04C2B5;
$primaryLighter: #B1F0EE;
$primaryLightest: #f9f5ff;

// Exporting to be used in code if necessary
:export {
    primaryDarkest: $primaryDarkest;
    primaryColor: $primaryColor;
    primaryLighter: $primaryLighter;
    primaryLight: $primaryLightest;
}