// Color Variables

// UI Colors
$primaryDark: #28262c;
$primaryColor: #2c3896;
$primaryLight: #f9f5ff;

// Exporting to be used in code if necessary
:export {
    primaryDark: $primaryDark;
    primaryColor: $primaryColor;
    primaryLight: $primaryLight;
}