.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.nameTitle{
    font-family: monospace;
    flex-direction: column;
    display: flex;
}

.softwareDeveloper {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.socialMedia {
    display: flex;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    justify-content: center;
    flex-direction: column;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.sectionHeader{
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    height: 50px;
    background-color: #F2F2F2;
    margin-top: 20px;
}