@import '../../../styles/colors';
@import '../../../styles/comon';

.projectsPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $backgroundColor;
    color: white;
    flex-direction: row;
    font-family: monospace;
    font-size: 20px;
}