@import '../../../styles/colors';
@import '../../../styles/comon';

@keyframes fadeInContactMe {
    0% {opacity: 0; margin-top: -20px;}
    40% {opacity: 0; margin-top: -20px;}
    100% {opacity: 1; margin-top: 20px;}
  }

@-webkit-keyframes fadeInContactMe {
    0% {opacity: 0; margin-top: -20px;}
    40% {opacity: 0; margin-top: -20px;}
    100% {opacity: 1; margin-top: 20px;}
  }


.contactMe {
    // margin-top: 20px;
    &Header {
        padding: 30px 0px;
        font-size: 40px;
    }
    animation: fadeInMyProjects 6s;
}

.messageSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    flex-direction: column;
    color: white;
    font-family: monospace;
    font-size: 20px;
    font-family: 'BYW' !important;
}

.contactMeInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactMeButton {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 20px;
    background-color: $primaryColor !important;
    border: 1px solid $primaryColor !important;
    &:hover {
        background-color: $primaryDarker  !important;
    }
}

.loadingEmailSpinner {
    margin-left: 10px;
    height: 20px;
}

.ant-spin-dot-item {
    background-color: $primaryDarkest !important;
}

.styledInput {
    background-color: $primaryDarkest !important;
    border: none !important;
    border-bottom: 1px solid $primaryLightest !important;
    font-size: 20px!important;
    font-family: 'BYW' !important;
    border-bottom: 1px solid $primaryLightest !important;
    color: $primaryLightest !important;
    outline: none!important;

    ::focus {
        outline: none !important;
    }

}

.planeIcon {
    margin-left: 10px;
}

.message {
    width: 500px !important;
    font-size: 16px !important;
    margin-top: 20px !important;
}

.sender {
    width: 300px !important;
}

.send{
    margin-right: 20px;
}

.responseMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responseData {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 300px;
}


@media only screen and (max-width: 600px) {
    .contactMe {
        animation: none;
    }

    .message {
        width: 300px !important;
        font-size: 16px !important;
        margin-top: 20px !important;
    }

    .messageSection {
        margin-bottom: 50px;
        width: auto;
    }
}